{
	"env": {
		"browser": true,
		"node": true,
		"jest": true
	},
	"extends": [
		"airbnb",
		"plugin:flowtype/recommended"
	],
	"plugins": [
		"flowtype",
		"compat"
	],
	"rules": {
		"no-unexpected-multiline": 2,
		"compat/compat": 2,
		"react/sort-comp": ["error", {
			"order": ["type-annotations", "constructor", "static-methods", "everything-else", "lifecycle", "render"]
		}],
		"comma-dangle": ["error", "never"],
		"no-tabs": 0,
		"react/jsx-wrap-multilines": ["error", {
			"declaration": false,
			"assignment": false
		}],
		"react/prop-types": 0,
		// Since handled by flow
		"react/no-unused-prop-types": 0,
		// Conflicts with prettier
		"no-confusing-arrow": 0,
    "no-mixed-operators": 0,
    "no-unneeded-ternary": 0,
	},
	"settings": {
		"polyfills": ["fetch"]
	}
}