
@import "bootstrap/dist/css/bootstrap.min.css";

html, body {
	font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
	background-color: #ECF0F1;
}

/* @TODO: Remove Safari's <select> gloss*/
select {
	
}

a {
	transition: .4s ease-out, .2s ease-in;
}

button {
	transition: .4s ease-out, .2s ease-in;
}

svg {
	transition: .4s ease-out, .2s ease-in;
}

/* Overriding Bootstrap */
.table-responsive table{
	margin-bottom: 0;
}