body {
	margin: auto;
	font-family: sans-serif;
}

/* @TODO: Remove Safari's <select> gloss*/
select {
	
}

a {
	transition: .4s ease-out, .2s ease-in;
}

button {
	transition: .4s ease-out, .2s ease-in;
}
